{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title%}GEMAH-MENU{% endblock %}

{% block main %}
        
        <h1>NOVA ORDEM DE SERVIÇO - POR LÉO</h1>
        
        <form method="POST">
                {% csrf_token %}

                

                <div class="row">
                    
                    <div class="col-sm-4 form-element">
                        <h5>CLIENTE</h5>
                        <label for="select-client">Selecione o Cliente</label><br>
                        {% render_field form.cliCod id="select-client" %}
                    </div>

                    <div class="col-sm-4 form-element">
                        <h5>EQUIPAMENTO</h5>
                        <label for="select-equip">Selecione o Equipamento</label><br>
                        {% render_field form.equipCod id="select-equip" %}
                    </div>

                </div>

                <h5>DEFEITO/INTERVENÇÃO</h5>

                <div class="row">
                    
                    <div class="col-sm-4">
                        <label for="{{form_os.defReclamado.auto_id}}">Defeitos Reclamados</label>
                        {% render_field form_os.defReclamado %}
                    </div>

                    <div class="col-sm-4">
                        <label for="{{form_os.defConstatado.auto_id}}">Defeitos Constatados</label>
                        {% render_field form_os.defConstatado %}
                    </div>

                    <div class="col-sm-4">
                        <label for="{{form_os.ServRealizado.auto_id}}">Serviço Realizado</label>
                        {% render_field form_os.ServRealizado %}
                    </div>

                    <div class="col-sm-4">
                        <label for="{{form_os.dataInicioOs.auto_id}}">Data Inicio</label>
                        {% render_field form_os.dataInicioOs %}
                    </div>

                    <div class="col-sm-4">
                        <label for="{{form_os.dataFinalOs.auto_id}}">Data Término</label>
                        {% render_field form_os.dataFinalOs %}
                    </div>

                    <div class="col-sm-4">
                        <label for="{{form_os.tipo_serv.auto_id}}">Tipo de serviço</label>
                        {% render_field form_os.tipo_serv %}
                    </div>

                    <div class="col-sm-4">
                        <label for="{{form_os.tipo_manut.auto_id}}">Tipo de manutenção</label>
                        {% render_field form_os.tipo_manut %}
                    </div>

                    <div class="col-sm-4">
                        <label for="{{form_os.tipo_aterramento.auto_id}}">Tipo de aterramento</label>
                        {% render_field form_os.tipo_aterramento %}
                    </div>

                    <div class="col-sm-4" style="margin-top: 25px">
                        <button type="submit" class="btn btn-success">SALVAR</button>
                        <button type="reset" class="btn btn-warning">LIMPAR</button>
                        <a href="{% url 'listaOrdemServico_urls' %}" class="btn btn-danger">VOLTAR</a>
                    </div>

                </div>

                <!-- defReclamado<input type="text" name="defReclamado"><br>
                defConstatado<input type="text" name="defConstatado"><br>
                ServRealizado<input type="text" name="ServRealizado"><br>
                dataOs<input type="text" name="dataOs"><br>
                dataInicioOs<input type="text" name="dataInicioOs"><br>
                dataFinalOs<input type="text" name="dataFinalOs"><br>
                cliCod<input type="text" name="cliCod"><br>
                equipCod<input type="text" name="equipCod"><br>
                tipo_serv<input type="text" name="tipo_serv"><br>
                tipo_manut<input type="text" name="tipo_manut"><br>
                tipo_aterramento<input type="text" name="tipo_aterramento"><br>
                <br> -->
                

        </form>

{% endblock %}

{% block custom_scripts %}
    <script>
        $(document).ready(function() {
            $('#select-client').select2({
                width: '100%'
            });
            $('#select-equip').select2({
                width: '100%'
            });
        })
    </script>
{% endblock %}

