{% extends 'base.html' %}
{% load static %}

{% block title%}GEMAH-MENU{% endblock %}

{% block main %}

    <h1>CONSULTA ORDEM DE SERVIÇO</h1>
    <form>
        <b>Nº DA O.S.:</b>   <input type="text" id="numOs" name="numOs"> <!--CODIGO NÃO IMPLEMENTADO-->
        <b>NOME.:</b>   <input type="text" id="nome" name="nome"> <!--CODIGO NÃO IMPLEMENTADO-->
        <b>CNPJ.:</b>   <input type="text" id="cnpj" name="cnpj"> <!--CODIGO NÃO IMPLEMENTADO-->
        <b>CPF.:</b>    <input type="text" id="cpf" name="cpf"> <!--CODIGO NÃO IMPLEMENTADO-->
        <br><br>
        <button type="submit" class="btn btn-success" style='font-size:17px'><i class='fas fa-search' style='font-size:24px'></i> BUSCAR</button>
        <button type="reset" class="btn btn-warning" style='font-size:17px'><i class='fas fa-eraser' style='font-size:24px'></i> LIMPAR</button>
        <a href="{% url 'create_os_leo' %}" class="btn btn-primary"style='font-size:17px'><i class='fas fa-plus-circle' style='font-size:24px'></i> NOVA O.S.</a>
        <a href="{% url 'menuPrincipal_urls' %}" class="btn btn-danger" style='font-size:17px'><i class='far fa-share-square' style='font-size:24px'></i> VOLTAR</a>
    </form>
    <br><br>

    <table class="table">
        <thead>
            <tr>
              <th scope="col">Nº O.S.</th>
              <th scope="col">STATUS</th>
              <th scope="col">DATA O.S.</th>
              <th scope="col">CLIENTE</th>
              <th scope="col">CNPJ</th>
              <th scope="col">CPF</th>
              <th scope="col">TIPO SERV.</th>
              <th scope="col">TIPO MANUT.</th>
              <th scope="col">IMPRIMIR</th>
              <th scope="col">APAGAR</th>
            </tr>
      </thead>

    <!--LISTA DE ORDEM DE SERVIÇOS-->
        {% for os in lista %}
            <tbody>
                <tr>
                  <th scope="row"><a href="{% url 'atualizaOs_urls' os.pk %}">{{ os.cod }}</a></th>
                  <td><a href="{% url 'finalizaOs_urls' os.pk %}" onclick="alert('ALTERADO COM SUCESSO!');"><span class="glyphicon glyphicon-ok-sign"></span> {{ os.status }}</a></td>
                  <td>{{ os.dataOs|date:"d/m/Y" }}</td>
                  <td>{{ os.cliNome }}</td>
                  <td>{{ os.cliCnpj }}</td>
                  <td>{{ os.cliCpf }}</td>
                  <td>{{ os.tipo_serv }}</td>
                  <td>{{ os.tipo_manut }}</td>
                  <td><a href="{% url 'pdf_rel_assisTec_urls' os.pk %}"><span class="glyphicon glyphicon-print"></span></a></td>
                  <td><a href="{% url 'deleteOs_urls' os.pk %}" class="trash-item-xl"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
<br>

{% endblock %}
