{% extends 'base.html' %}

{% block title%}GEMAH-MENU{% endblock %}

{% block main %}

    <h1>LISTA ORDEM DE SERVIÇO</h1>
    <form>
        <b>Nº DA O.S.:</b>   <input type="text" id="numOs" name="numOs"> <!--CODIGO NÃO IMPLEMENTADO-->
        <b>**NOME.:</b>   <input type="text" id="nome" name="nome"> <!--CODIGO NÃO IMPLEMENTADO-->
        <b>**CNPJ.:</b>   <input type="text" id="cnpj" name="cnpj"> <!--CODIGO NÃO IMPLEMENTADO-->
        <b>**CPF.:</b>    <input type="text" id="cpf" name="cpf"> <!--CODIGO NÃO IMPLEMENTADO-->
        <br><br>
        <button type="submit" class="btn btn-success">BUSCAR</button>
        <button type="reset" class="btn btn-warning">LIMPAR</button>
        <a href="{% url 'create_os_leo' %}" class="btn btn-primary">NOVA O.S.</a>
        <a href="{% url 'menuPrincipal_urls' %}" class="btn btn-danger">VOLTAR</a>
    </form>
    <br><br>

    <table class="table">
        <thead>
            <tr>
              <th scope="col">Nº O.S.</th>
              <th scope="col">DATA O.S.</th>
              <th scope="col">CLIENTE</th>
              <th scope="col">CNPJ</th>
              <th scope="col">CPF</th>
              <th scope="col">TIPO SERV.</th>
              <th scope="col">TIPO MANUT.</th>
              <th scope="col">IMPRIMIR</th>
              <th scope="col">APAGAR</th>
            </tr>
      </thead>

    <!--LISTA DE ORDEM DE SERVIÇOS-->
        {% for os in lista %}
            <tbody>
                <tr>
                  <th scope="row"><a href="{% url 'atualizaOs_urls' os.pk %}">{{ os.cod }}</a></th>
                  <td>{{ os.dataOs|date:"d/m/Y" }}</td>
                  <td>{{ os.cliCod.nome }}</td>
                  <td>{{ os.cliCod.cnpj }}</td>
                  <td>{{ os.cliCod.cpf }}</td>
                  <td>{{ os.tipo_serv }}</td>
                  <td>{{ os.tipo_manut }}</td>
                  <td><a href="{% url 'pdf_rel_assisTec_urls' os.pk %}"><span class="glyphicon glyphicon-print"></span></a></td>
                  <td><a href="{% url 'deleteOs_urls' os.pk %}" class="trash-item-xl"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

<br>

<h4>** = NÃO FOI IMPLEMENTADO AINDA!</h4>
{% endblock %}
