{% extends 'base.html' %}
{% load bootstrap %}

{% block title%}GEMAH-MENU{% endblock %}

{% block main %}
        <h1>NOVA ORDEM DE SERVIÇO - MAXWELL</h1>
        <form method="POST">
                {% csrf_token %}

                {{ form }}

        </form>

{% endblock %}



              <!--  <h3>DEFEITO</h3><br>
                RECLAMADO<br>
                <input type="text" name="reclamado"><br><br>
                CONSTATADO<br>
                <input type="text" name="constatado"><br><br>
                SERV. REALIZADO<br>
                <input type="text" name="servRealizado"><br><br> -->