{% extends 'base.html' %}
{% load bootstrap %}


{% block title%}GEMAH{% endblock %}

{% block main %}

 <h1>Deseja realmente deletar esse cadastro?</h1>

     <form method="POST" enctype="multipart/form-data"> <!--atributo enctype manda os arquivos de midia para o BD, mas na VIEW deve ter REQUEST.FILES-->
        {% csrf_token %}
        {{ form|bootstrap }}

        <button type="submit" class="btn btn-danger" style='font-size:17px'><i class='fas fa-trash-alt' style='font-size:24px'></i> DELETAR</button>
        <a href="{% url 'listaEquip' %}" class="btn btn-secondary" style='font-size:17px'><i class='far fa-share-square' style='font-size:24px'></i> VOLTAR</a>
     </form>


{% endblock %}
