{% extends 'base.html' %}

{% block title%}GEMAH{% endblock %}

{% block main %}

 <h1>LISTA DE EQUIPAMENTOS</h1> <a href="{% url 'my_logout' %}">SAIR</a>
    <lu>
        {% for equip in lista %}
            <li>
                <a href="{% url 'atualizaEquip' equip.cod %}">{{ equip }}</a>
                <a href="{% url 'deleteEquip' equip.cod %}">Deletar</a>
            </li>
        {% endfor %}
    </lu>

    <br>

    <a href="{% url 'novoEquip_urls' %}">Novo Equipamento</a><br><br>

{% endblock %}