<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>LISTA DE EQUIPAMENTOS</h1> <a href="{% url 'my_logout' %}">SAIR</a>
    <lu>
        {% for equip in lista %}
            <li>
                <a href="{% url 'atualizaEquip' equip.id %}">{{ equip }}</a>
                <a href="{% url 'deleteEquip' equip.id %}">Deletar</a>
            </li>
        {% endfor %}
    </lu>

    <br>

    <a href="{% url 'novoEquip_urls' %}">Novo Equipamento</a><br><br>

</body>
</html>