{% extends 'base.html' %}

{% block title%}GEMAH-MENU{% endblock %}

{% block main %}

<h1>HISTORICO DO EQUIPAMENTO</h1>
    <ol>
        {% for item in hist %}
            <li>
                <b>DATA:</b> <i>{{ item.data|date:"d/m/y" }}</i><br>
                <b>RECLAMADO:</b> <i>{{ item.histReclamado }}</i><br>
                <b>CONSTATADO:</b> <i>{{ item.hConstatado }}</i><br>
                <b>REALIZADO:</b> <i>{{ item.hServRealizado }}</i><br>
                <b>Nº da O.S.:</b> {{ item.hOsCod }}
            </li>
        {% endfor %}
    </ol><br>
    <a href="{% url 'listaEquip' %}" class="btn btn-secondary">VOLTAR</a>

<h4>** = NÃO FOI IMPLEMENTADO AINDA!</h4>
{% endblock %}
