<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>SEJA BEM VINDO AO GEMAH</h1>
    <h1>GESTÃO DE MANUTENSÃO DE EQUIPAMENTOS HOSPITALARES</h1>

    <!-MOSTRA O USUARIO LOGADO-->
    {% if user.is_authenticated %}
        <p>Ola {{ user.username }}</p>
        <a href="{% url 'my_logout' %}">SAIR</a><br>
    {% else %}
        <a href="{% url 'login' %}">ENTRAR</a><br>
    {% endif %}

    <a href="{% url 'novoCliente_urls' %}">CLIENTES</a><br>
    <a href="{% url 'novoEquip_urls' %}">EQUIPAMENTOS</a><br>
    <a href="">CONSULTAS</a><br>
    <a href="">ORDEM DE SERVIÇOS</a><br>
    <a href="">ORÇAMENTOS</a><br>
</body>
</html>