{% extends 'base.html' %}
{% load bootstrap %}


{% block title%}GEMAH{% endblock %}

{% block main %}

  <h1 class="titulo">CADASTROS DE EQUIPAMENTOS</h1><br>

    <form method="POST" enctype="multipart/form-data"> <!--atributo enctype manda os arquivos de midia para o BD, mas na VIEW deve ter REQUEST.FILES-->
        {% csrf_token %}
        {{ form|bootstrap }}

        <button type="submit" class="btn btn-success">SALVAR</button>
        <button type="reset" class="btn btn-warning">LIMPAR</button>
        <a href="{% url 'listaEquip' %}" class="btn btn-danger">VOLTAR</a>
    </form>

{% endblock %}