{% extends 'base.html' %}

{% block title%}GEMAH-MENU{% endblock %}

{% block main %}

   <h1>CONSULTA CLIENTES</h1>
    <form>
        Razão Social/Nome.:   <input type="text" id="razNome" name="razNome">
        CNPJ.:   <input type="text" id="cnpj" name="cnpj">
        CPF.:   <input type="text"  id="cpf" name="cpf">

        <button type="submit">BUSCAR</button>
        <button type="reset" class="btn btn-warning">LIMPAR</button>
        <a href="{% url 'novoCliente_urls' %}" class="btn btn-primary">Novo Cliente</a>
        <a href="{% url 'menuPrincipal_urls' %}" class="btn btn-danger">VOLTAR</a>
    </form><br><br>

    <!--LISTA DE CLIENTES-->
    <table class="table">
        <thead>
            <tr>
              <th scope="col">CÓDIGO</th>
              <th scope="col">NOME</th>
              <th scope="col">CNPJ</th>
              <th scope="col">CPF</th>
              <th scope="col">IMPRIMIR</th>
              <th scope="col">APAGAR</th>
            </tr>
      </thead>
      {% for cliente in lista %}
      <tbody>
            <tr>
              <th scope="row">{{ cliente.cod }}</th>
              <td><a href="{% url 'atualizaCliente' cliente.cod %}">{{ cliente.nome }}</a></td>
              <td>{{ cliente.cnpj }}</td>
              <td>{{ cliente.cpf }}</td>
              <td><a href="{% url 'pdf_generation_cliente_urls' cliente.cod %}" class="print-mini"><span class="glyphicon glyphicon-print"></span></a></td>
              <td><a href="{% url 'deleteCliente' cliente.cod %}" class="trash-item-xl"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
      </tbody>
      {% endfor %}
    </table>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">GEMAH - v1.0</span>
        </div>
    </footer>
{% endblock %}

