{% extends 'base.html' %}

{% block title%}GEMAH-MENU{% endblock %}

{% block main %}

   <h1>CONSULTA CLIENTES</h1>
    <lu>
        {% for cliente in lista %}
              <li>
                  <a href="{% url 'atualizaCliente' cliente.cod %}">{{ cliente }}</a>
                  <a href="{% url 'deleteCliente' cliente.cod%}">Deletar</a>
              </li>
        {% endfor %}

    </lu>

    <br>

    <a href="{% url 'novoCliente_urls' %}" class="btn btn-primary">Novo Cliente</a><br><br>

{% endblock %}

<select class="selectpicker" data-style="btn-info" multiple data-max-options="3" data-live-search="true">

</select>
