<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>LISTA DE CLIENTES</h1> <a href="{% url 'logout' %}">SAIR</a>
    <lu>
        {% for cliente in lista %}
            <li>
                <a href="{% url 'atualizaCliente' cliente.id %}">{{ cliente }}</a>
                <a href="{% url 'deleteCliente' cliente.id %}">Deletar</a>
            </li>
        {% endfor %}
    </lu>

    <br>

    <a href="{% url 'novoCliente' %}">Novo Cliente</a><br><br>

</body>
</html>