{% extends 'base.html' %}


{% block title%}GEMAH{% endblock %}

{% block main %}

  <h1>LISTA DE CLIENTES</h1> <a href="{% url 'my_logout' %}">SAIR</a>
    <ul >
        {% for cliente in lista %}
            <li>
                <a href="{% url 'atualizaCliente_urls' cliente.cod %}">{{ cliente }}</a>
                <a href="">Deletar</a>
            </li>
        {% endfor %}
    </ul>

    <br>

    <a href="{% url 'novoCliente_urls' %}" class="btn btn-primary">Novo Cliente</a><br><br>

{% endblock %}