{% load static %} <!--CARREGA OS ARQUIVOOS ESTATICOS-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styleCadClientes.css' %}">
    <title>Document</title>
</head>
<body>

    <h1 class="titulo">CADASTROS DE CLIENTES</h1>
                  <!-AQUI É O APELIDO DA URL, QUE ESTÁ ATRELADA A FUNÇÃO DO FORM-->
    <form method="POST" enctype="multipart/form-data"> <!--atributo enctype manda os arquivos de midia para o BD, mas na VIEW deve ter REQUEST.FILES-->
        {% csrf_token %}
        {{ form }}

        <button type="submit">SALVAR</button>
        <button type="">LIMPAR</button>
        <button type="">ORÇAMENTOS</button>
        <button type="">ORDEM DE SERVIÇO</button>
        <a href="">SAIR</a>

    </form>

</body>
</html>