{% extends 'base.html' %}
{% load bootstrap %}

{% load static %} <!--CARREGA OS ARQUIVOOS ESTATICOS-->

{% block title%}GEMAH-LOGIN{% endblock %}

{% block main %}

  <h1 class="titulo">CADASTROS DE CLIENTES</h1>
                  <!-AQUI É O APELIDO DA URL, QUE ESTÁ ATRELADA A FUNÇÃO DO FORM-->
    <form method="POST" enctype="multipart/form-data"> <!--atributo enctype manda os arquivos de midia para o BD, mas na VIEW deve ter REQUEST.FILES-->
        {% csrf_token %}
        {{ form|bootstrap }}

        <button type="submit" class="btn btn-success">SALVAR</button>
        <button type="reset" class="btn btn-warning">LIMPAR</button>
        <a href="{% url 'lista_clientes' %}" class="btn btn-danger">VOLTAR</a>

    </form>

{% endblock %}