<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style type="text/css"></style>
    <title>FICHA DE CADASTRO</title>


</head>
<body>
    <div class="centralizado">
        <h1>FICHA DE CADASTRO</h1>
        Nome:{{form.nome}}<br>
        CNPJ:{{form.cnpj}}<br>
        CPF:{{form.cpf}}<br>
        Nome Fantasia:{{form.nomeFant}}<br>
        CEP:{{form.cep}}<br>
        Endereço:{{form.endereco}}<br>
        Bairro:{{form.bairro}}<br>
        Cidade:{{form.cidade}}<br>
        UF:{{form.uf}}<br>
        Contato:{{form.contato}}<br>
        E-mail:{{form.email}}<br>
        Tel:{{form.tel}}<br>
        Cel. nº1:{{form.cel1}}<br>
        Cel. nº2:{{form.cel2}}<br>
        Data criação:{{form.dt_criacao}}<br>
    </div>

 <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      <h1>FICHA DE CADASTRO</h1>
        Nome:{{form.nome}}<br>
        CNPJ:{{form.cnpj}}<br>
        CPF:{{form.cpf}}<br>
        Nome Fantasia:{{form.nomeFant}}<br>
        CEP:{{form.cep}}<br>
        Endereço:{{form.endereco}}<br>
        Bairro:{{form.bairro}}<br>
        Cidade:{{form.cidade}}<br>
        UF:{{form.uf}}<br>
        Contato:{{form.contato}}<br>
        E-mail:{{form.email}}<br>
        Tel:{{form.tel}}<br>
        Cel. nº1:{{form.cel1}}<br>
        Cel. nº2:{{form.cel2}}<br>
        Data criação:{{form.dt_criacao}}<br>
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</body>
</html>