<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        h1{
            text-align: center;
        }
    </style>
    <title>FICHA DE CADASTRO</title>


</head>
<body>
    <div>
        <h1>FICHA DE CADASTRO</h1><br>

        <fieldset>
            <legend><h3>IDENTIFICAÇÃO</h3></legend>
                <b>Nome:</b> {{form.nome}}<br>
                <b>Nome Fantasia:</b> {{form.nomeFant}}<br>
                <b>CNPJ:</b> {{form.cnpj}}&nbsp;&nbsp;&nbsp;<b>CPF:</b> {{form.cpf}}<br>
        </fieldset>

        <fieldset>
            <legend><h3>ENDEREÇO</h3></legend>
                <b>CEP:</b> {{form.cep}}&nbsp;&nbsp;&nbsp;<b>Endereço:</b> {{form.endereco}}&nbsp;&nbsp;&nbsp;<b>Bairro:</b> {{form.bairro}}<br>
                <b>Cidade:</b> {{form.cidade}}&nbsp;&nbsp;&nbsp;<b>UF:</b> {{form.uf}}<br>
        </fieldset>

        <fieldset>
            <legend><h3>INFORMAÇÕES COMPLEMENTARES</h3></legend>
            <b>Contato:</b> {{form.contato}}<br>
            <b>E-mail:</b> {{form.email}}<br>
            <b>Tel:</b> {{form.tel}}<br>
            <b>Cel. nº1:</b> {{form.cel1}}<br>
            <b>Cel. nº2:</b> {{form.cel2}}<br>
            <b>Data criação:</b> {{form.dt_criacao}}<br>
        </fieldset>

    </div>
</body>
</html>